.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: red;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}



